.login-container {
    background: $brand-background-lighter url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e8e8e8' fill-opacity='0.24' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") repeat top left;
    width: 100%;
    height: 100vh;
    .container {
        height: 100%;
        .row {
            height: 100%;
            position: relative;
        }
    }
    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;

        &:focus {
            z-index: 2;
        }
    }
    .logo-container {
        text-align: center;
    }
    img {
        margin: 0px auto 50px auto;
    }

    .btn-primary {
        margin-top:12px;
        color: #242424;
        background-color: $brand-primary;
        border-color: $brand-primary;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 200ms ease-in-out;
        &:hover, &:focus {
            outline: none;
            background-color: $brand-primary-darker;
            border-color: $brand-primary-darker;
            box-shadow: none;
        }
    }
    input {
        border: 0;
        outline: 0;
        color: #999;
        background: transparent;
        border-bottom: 1px solid #999;
        width: 100%;
        padding: 6px 8px;
        border-radius: 4px;
    }

    .widget-wrapper {
        border-radius: 5px;
        background: $brand-background;
        position: absolute;
        padding: 10px 5px;
        width: 100%;
        max-width: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-form {
        margin: 20px;
    }

    form[role=login] {
        color: #5d5d5d;
        background: #f2f2f2;
        padding: 26px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }
    form[role=login] img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    form[role=login] input,
    form[role=login] button {
        font-size: 18px;
        margin: 16px 0;
    }

    form[role=login] > div {
        text-align: center;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
    .login-error{
        color: #d9534f!important;
        text-align: center;
    }

    .copyright {
        position: fixed;
        right: $grid-gutter-width / 2;
        bottom: $grid-gutter-width / 2;
        font-family: $font-family-primary;
    }

}
.login-outer-wrapper{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
